<!-- <app-todo-list></app-todo-list> -->
<!-- <app-count-down></app-count-down> -->

<!-- <button (click)="onSeleted()">On</button> -->
<div class="body">
    <div class="nav">
        <span class="sp " (click)="onTodoList()">Todo List</span>
        <span class="sp " (click)="onCountDown()">Count Down</span>
        <span class="sp " (click)="onPost()">Post Image</span>
        <span class="sp " (click)="onApi()">Rest API</span>
    </div>
    <div class="nav-bar">
        <button (click)="i = !i" class="btn btn-warning header">
            Menu
        </button>
        <div class="list none" [class.none]="i">
            <span class="sp " (click)="onTodoList()">Todo List</span>
            <span class="sp " (click)="onCountDown()">Count Down</span>
            <span class="sp " (click)="onPost()">Post Image</span>
            <span class="sp " (click)="onApi()">Rest API</span>
        </div>
    </div>

</div>
<router-outlet></router-outlet>